PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/attendify?retryWrites=true&w=majority
JWT_SECRET=attendify_super_secret_jwt_key_2026_tqa